@font-face {
  font-family: "Genshin";
  src: url(".././../public/zh-cn.ttf") format("truetype");
}

.newsletter {
  position: relative;
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Genshin";

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .section {
    width: 85%;
    max-width: 425px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 40px;
    gap: 15px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    opacity: 0.7;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    &__title {
      font-size: 24px;
      font-family: "Genshin";
      color: #153564;
      opacity: 1;
    }

    &__description {
      font-size: 15px;
      color: #011b42;
    }

    &__check {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #153564;
    }

    &__text {
      font-size: 12px;
      color: #153564;
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &__label {
      font-size: 12px;
      color: #153564;
    }

    &__input {
      border: 1px solid #153564;
      border-radius: 8px;
      padding: 12px;
      margin-bottom: 15px;
      outline: #011b42;
    }

    &__button {
      border: 1px solid #153564;
      border-radius: 8px;
      padding: 12px;
      margin-bottom: 15px;
      opacity: 1;
      background-color: #153564;
      color: white;
      font-family: "Genshin";
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) {
  .newsletter {
    flex-direction: row-reverse;
    padding: 20px;
    justify-content: space-evenly;

    &__image {
      width: 100%;
      height: 285px;
    }

    .section {
      width: 50%;
      height: 70%;
    }
  }
}
